<div class="card">
    {% include "blog/includes/article_card_header.html" %}
    <div class="card-body">
        {#                    {{ article.content }}#}
        {{ article.metadata.html_teaser }}
        {#                    {{ article.metadata.date.year }}#}
        {#                    {{ article.metadata.date.month }}#}
        {#                    {{ article.metadata.date.day }}#}
        <p class="card-text">
            <a class="btn btn-sm btn-dark"
               href="{{ article.metadata.href }}">
                Continue reading <span class="fa fa-angle-right"></span>
            </a>
        </p>
    </div>
    <div class="card-footer">
    </div>
</div>