#quiz-cards .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

#quiz-cards .clickable {
    cursor: pointer;
}

#quiz-cards .category.card, .card.expand {
    font-size: 3vh;
    width: 100%;
}

#quiz-cards .category.card {
    font-weight: bold;
}

#quiz-cards .category.card > .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#quiz-cards .card-title {
    height: 100%;
    text-align: center;
}

#quiz-cards .card-title, #quiz-cards .points {
    /*margin: 0 0.2rem;*/
}

.points.card {
    flex: 1;
}

#points-card-teamA {
    margin-bottom: 0.5rem;
}

#points-card-teamB {
    margin-top: 0.5rem;
}

.points.card .card-body {
    font-size: 2vh;
    background: var(--light);
    text-align: left;
}

.points.card .card-header {
    font-size: 3vh;
}

.category.card.visited {
    background: linear-gradient(45deg,
        #fafafa 85%,
        var(--gray) 85% 90%,
        #fafafa 90%);
    border: 1px solid var(--gray)
}

.card.scored-by-teamA {
    background: linear-gradient(45deg,
        #fefbfb 85%,
        var(--danger) 85% 90%,
        #fefbfb 90%) !important;
    border: 1px solid var(--danger) !important;
    box-shadow: 0 0 15px var(--danger);
}

.card.scored-by-teamB {
    background: linear-gradient(45deg,
        #fafefe 85%,
        var(--info) 85% 90%,
        #fafefe 90%) !important;
    border: 1px solid var(--info) !important;
    box-shadow: 0 0 15px var(--info);
}
