{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
            <div class="card" style="margin-top: 70px">
                <img src="{{ url_for('static', filename='img/profile_photo.jpg') }}" alt="Photo of Soeren Wegener"
                     class="rounded-circle" width="140" style="margin: -70px auto 0; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5)">
                <div class="card-body">
                    <h2 class="card-title text-center">Sören Wegener</h2>
                    <p class="card-text text-center">Software Engineer</p>
                    <div class="d-flex justify-content-center flex-wrap">
                        <a class="btn btn-lg btn-dark btn-social-media mb-2 mr-2 stackoverflow" target="_blank" rel="noopener"
                           href="https://stackoverflow.com/story/soeren.wegener"><i
                                class="fab fa-stack-overflow"></i></a>
                        <a class="btn btn-lg btn-dark btn-social-media mb-2 mr-2 github" target="_blank" rel="noopener"
                           href="https://github.com/soerface"><i class="fab fa-github"></i></a>
                        <a class="btn btn-lg btn-dark btn-social-media mb-2 mr-2 gitlab" target="_blank" rel="noopener"
                           href="https://gitlab.com/soerface"><i class="fab fa-gitlab"></i></a>
                    </div>
                    <div class="d-flex justify-content-center flex-wrap">
                        <a class="btn btn-lg btn-dark btn-social-media mb-2 mr-2 mastodon" target="_blank" rel="noopener"
                           href="https://chaos.social/@soerface"><i class="fab fa-mastodon"></i></a>
                        <a class="btn btn-lg btn-dark btn-social-media mb-2 mr-2 telegram" target="_blank" rel="noopener"
                           href="https://t.me/soerface"><i class="fab fa-telegram-plane"></i></a>
                        <a class="btn btn-lg btn-dark btn-social-media mb-2 mr-2 linkedin" target="_blank" rel="noopener"
                           href="https://www.linkedin.com/in/s%C3%B6ren-wegener-2b5099b5/"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
