{% extends 'base.html' %}

{% block content %}
    {% for article in article_list %}
        <div class="card">
            <div class="card-header">
                <small class="text-muted">Published on: {{ article.metadata.date.strftime('%Y-%m-%d') }}</small>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{ article.metadata.title }}</h2>
                <p class="card-text">
                    {{ article.content }}
                    {{ article.metadata.date.year }}
                    {{ article.metadata.date.month }}
                    {{ article.metadata.date.day }}
                </p>
            </div>
            <div class="card-footer">
                asdf
            </div>
        </div>
    {% endfor %}
{% endblock %}