{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% for article in article_list %}
                <div class="card">
                    <div class="card-header">
                        <small class="text-muted">Published on: {{ article.metadata.date.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">
                            <a href="{{ article.metadata.href }}">
                                {{ article.metadata.title }}
                            </a>
                        </h1>
                        {#                    {{ article.content }}#}
                        {{ article.metadata.teaser }}
                        {#                    {{ article.metadata.date.year }}#}
                        {#                    {{ article.metadata.date.month }}#}
                        {#                    {{ article.metadata.date.day }}#}
                        <p class="card-text">
                            <a class="btn btn-sm btn-dark"
                               href="{{ article.metadata.href }}">
                                Continue reading <span class="fa fa-angle-right"></span>
                            </a>
                        </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                {% if not loop.last %}
                    <hr/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}